div{
  font-family: palatino;
}

button{
  font-family: palatino;
}

.filterDiv img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  opacity: .7;
}

.container{
  margin: 5px;
  width: 450px;
  margin-left: 50px;
}

.filterDiv{
  display: none;
  transition-duration: 1s;
  border: 1px solid #ccc;
}

.show{
  display: block;
}

div.filterDiv:hover{
	transform: rotate(360deg);
	opacity: 1;
	background: #3cb3719e;
}

div button:hover{
  background-color: #ddd;
  cursor: pointer;
}

div button:active{
  background-color: #666;
  color: white;
}

div button{
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #ccc;
  width: 15%;
  transition-duration: 1s;
  text-align: center;
  text-transform: uppercase;
  color: #151313;
  background-color: #3cb3719e;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 10px;
}

header{
  transition-duration: 1s;
  display: block;
  border: 1px solid #ccc;
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding: 25px;
  border-radius: 25px;
  background-color: #3cb371;
  background-blend-mode: 25%;
  height: 40px;
  margin-left: 10px;
  font-size: 2em;
  margin-top: 15px;
}